.contentbox {
  background-color: var(--mantine-color-dark-6);
  padding: var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-sm);
}

.contentbox:hover {
  background-color: var(--mantine-color-dark-5);
}
